.main {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.article {
    display: flex;
    height: 90%;
}

.section {
    width: 100%;
}

.aside {
    padding: 0;
    margin: 0;
}

.footer {
    margin-top: auto;
    width: 100%;
    height: 10%;
}
