html {
    height: 100%;
}
body {
    min-height: 100%;
    margin: 0;
}

header {
    height: 50px;
    background: lightcyan;
}

article {
    height: 1%;
}

footer {
    height: 50px;
    background: PapayaWhip;
}

/**** Trick: ****/

body {
    display: table;
    width: 100%;
}

body > footer {
    display: table-row;
}
